.about-content {
  height: calc(100vh - 10vh - 10vh);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 0px 40px;

  overflow: hidden;
}
.about-content .left-side {
  width: 48%;
  height: 90%;
  min-width: 370px;
  /* background: rgba(128, 128, 128, 0.146); */

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.about-content .left-side p {
  margin-bottom: 10px;
}

.about-content .right-side {
  width: 370px;
  height: 90%;

  background: grey;
  overflow: hidden;
  box-sizing: border-box;
}
.about-content img {
  transition: transform .5s ease;
}
.about-content img:hover {
  transform: scale(1.1);
}

/* .about-content .right-side .photo {
  height: 100%;
  width: 100%;
  background-image: url("../img/photo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 100%;
  transition: all 0.3s;
  display: block;
  /* height: auto; */
  transform: scale(1);

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
} */

.about-content .right-side:hover {
  transform: scale(1.1);

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}