footer {
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  padding: 0px 40px;
}
footer .icon {
  color: var(--blue);
}
footer .icon:hover {
  color: grey;
}

.left a {
  color: grey;
}
.left a:hover {
  color: var(--blue);
}

.left .arrows {
  box-sizing: border-box;
  /* padding: 5px; */
}