/* issue making the MCJ-V thing scale? */

.index-content {
  height: calc(100vh - 10vh - 10vh - 80px);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 0px 0px;

  background-image: url("../img/ocean_opt.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-left: auto;
  margin-right: auto; 
}
.index-content h1 {
  box-sizing: border-box;

  font-size: 28vw;
  text-align: center;

  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  mix-blend-mode: screen;
}

.index-content h2 {
  font-size: 60px;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  mix-blend-mode: screen;

  text-align: center;
  box-sizing: border-box;

  padding-bottom: 40px;
}

.justify-right {
  margin-right: 40px;
}
