nav {
  height: 20vh;
  box-sizing: border-box;
  padding: 0px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  text-decoration: none;
  color: grey;
  font-size: 40px;

  z-index: 1;
}
nav .logo:hover {
  color: var(--blue);
}
.short-text {
  display: none;
}
nav .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .links .link {
  font-size: 25px;
  box-sizing: border-box;
  padding: 10px;
  color: grey;
  text-decoration: none;
}
nav .links .link:hover {
  color: var(--blue);
}

@media only screen and (max-width: 500px) {
  /* .short-text {
    display: block;
  } */
  .full-text {
    /* display: none; */
    font-size: 25px;
  }
  nav {
    flex-direction: column;
  }
  .logo {
    padding-top: 20px;
  }
}