/* This css is styling for the projects-content page, including styling for the card. */

.projects-content {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background: red;
}
.project-title {
  height: 38px;
  width: 250px;

  background-color: white;
  color: black;
  mix-blend-mode: screen;
}
.project-title h1 {
  width: 100%;
  color: white;
  background: var(--blue);
}
.project-title h1 span {
  animation: blink 1s linear infinite;
}
@keyframes blink{
    0%{     color: white;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: white;    }
}

.projects-content {
  height: calc(100vh - 10vh - 10vh - 80px);
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 0px 40px;

  overflow-y: scroll;
}
.projects-content .project-title {
  background: var(--blue);
  margin-bottom: 10px;
}
.projects-content .left-side {
  /* width: 50%; */

  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: center;
  align-items: flex-start;
}
/* .projects-content .right-side {
  width: 48%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
} */

.projects-content .card {
  height: auto;
  width: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;

  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  margin-right: 10px;
}
.projects-content .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.projects-content .card .img {
  margin-bottom: 10px;
}
.projects-content .card .text {
  max-width: 500px;
}
.projects-content .card .info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 14px;
}
.projects-content .card .info .date {
  color: grey;
  margin-bottom: 5px;
}
.projects-content .card .info .hash-tags {

}
.projects-content .card .info .hash-tags span {
  margin-left: 5px;
  color: white;
  background: var(--blue);
}

/* HATS PROJECT */
.projects-content .card .img-hats {
  height: 150px;
  width: 400px;

  overflow: hidden;
}
.projects-content .card .img-hats img {
  transition: transform .5s, filter 0.5s ease-in-out;
  filter: grayscale(60%);
}
.projects-content .card .img-hats img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
/* WIDGET PROJECT */
.projects-content .card .img-widget {
  height: 300px;
  width: 250px;
  
  overflow: hidden;
}
.projects-content .card .img-widget img {
  transition: transform .5s, filter 0.5s ease-in-out;
  filter: grayscale(60%);
}
.projects-content .card .img-widget img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
/* ZEN PROJECT */
.projects-content .card .img-zen {
  height: 300px;
  width: 250px;
  
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-content .card .img-zen img {
  transition: transform .5s, filter 0.5s ease-in-out;
  filter: grayscale(60%);
}
.projects-content .card .img-zen img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
/* FRIDAY CSS */
.projects-content .card .img-friday-css {
  height: 150px;
  width: 400px;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-content .card .img-friday-css img {
  transition: transform .5s, filter 0.5s ease-in-out;
  filter: grayscale(60%);
}
.projects-content .card .img-friday-css img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
/* FRIDAY APP */
.projects-content .card .img-friday-app {
  height: 150px;
  width: 400px;
  
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-content .card .img-friday-app img {
  transition: transform .5s, filter 0.5s ease-in-out;
  filter: grayscale(60%);
}
.projects-content .card .img-friday-app img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
@media only screen and (max-width: 510px) {
  .projects-content .card {
    width: 270px;
  }
  .projects-content .card .text {
    width: 270px;
  }

  .projects-content .card .img-hats {
    width: 270px;
  }
  .projects-content .card .img-friday-css {
    width: 270px;
  }
  .projects-content .card .img-friday-app { 
    width: 270px;
  }
  .projects-content .card {
    margin-right: 0px;
  }
  .projects-content {
    padding: 0px 5px 0px 5px;
  }
  .project-title {
    margin: 25px;
  }
}