.skills-content {
  height: calc(100vh - 10vh - 10vh);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 0px 40px;
}
.skills-content .skill {
  width: 100%;
  height: 20%;
  /* background: rgba(77, 77, 77, 0.687); */
  margin-bottom: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
}
.skills-content .skill .text {
  width: 49%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.skills-content .skill .text .title {
  background: var(--blue);
  color: white;
}
.skills-content .skill .text a {
  text-decoration: none;
  color: grey;
}
.skills-content .skill .text a:hover {
  text-decoration: none;
  color: var(--blue);
}
/* SKILL: HTML CSS  */
.skills-content .skill .image-html {
  border-top: 10px solid var(--blue);
  width: 49%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
.skills-content .skill .image-html img {
  /* transition: transform .5s ease; */
  transition: transform .5s, filter 0.5s ease-in-out;
  filter: grayscale(50%);
}
.skills-content .skill .image-html img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
/* SKILL: RUBY */
.skills-content .skill .image-ruby {
  border-top: 10px solid var(--blue);
  width: 49%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
.skills-content .skill .image-ruby img {
  transition: transform .5s, filter 0.5s ease-in-out;
  filter: grayscale(50%);
}
.skills-content .skill .image-ruby img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
/* SKILL: MERN */
.skills-content .skill .image-mern {
  border-top: 10px solid var(--blue);
  width: 49%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
.skills-content .skill .image-mern img {
  transition: transform .5s, filter 0.5s ease-in-out;
  filter: grayscale(50%);
}
.skills-content .skill .image-mern img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
/* SKILL: ARCHITECTURE */
.skills-content .skill .image-architecture {
  border-top: 10px solid var(--blue);
  width: 49%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
.skills-content .skill .image-architecture img {
  transition: transform .5s, filter 0.5s ease-in-out;
  filter: grayscale(50%);
}
.skills-content .skill .image-architecture img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
/* SKILL: WORKEXP */
.skills-content .skill .image-workexp {
  border-top: 10px solid var(--blue);
  width: 49%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
.skills-content .skill .image-workexp img {
  transition: transform .5s, filter 0.5s ease-in-out;
  filter: grayscale(50%);
}
.skills-content .skill .image-workexp img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}